@keyframes marquee-left {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-100% - 80px)); }
}

@keyframes marquee-right {
    from { transform: translateX(calc(-100% - 80px)); }
    to { transform: translateX(0); }
}

.marquee-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
}

.marquee-content {
    display: flex;
    gap: 80px; /* This should match the gap in the keyframes */
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    white-space: nowrap;
    will-change: transform;
    padding: 10px 0;
    align-items: center;
}

.marquee-top .marquee-content {
    animation: marquee-left 250s linear infinite;
}
  
.marquee-reverse .marquee-content {
    animation: marquee-right 250s linear infinite;
}

.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}

.marquee-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: transparent;
    min-width: 150px;
    height: 80px;
}

.marquee-item img {
    opacity: 1;
    transition: all 0.3s ease;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: none;
    transform: scale(1.3);
}

.marquee-item img:hover {
    transform: scale(1.4);
    opacity: 1;
    filter: none;
}
