@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;

@layer components {
  .btn-hero {
    @apply flex items-center justify-center bg-neon-green text-black hover:bg-opacity-90 transition-all font-normal rounded-[5px] text-[14px] leading-[18px];
    width: 150px;
    height: 38.66px;
  }
}
@tailwind utilities;

:root {
  font-family: 'DM Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-custom {
  background-color: #5000FF;
}
/* Podemos añadir estilos globales adicionales aquí si es necesario */
